<!DOCTYPE html>
<html>
<head>
  <title>Meyasubako</title>
  <%= stylesheet_link_tag    "meyasubako/application", media: "all" %>
  <%= javascript_include_tag "meyasubako/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
